.dialog-pane {
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 20;
    -fx-border-color: #2A4879FF;
}

.dialog-pane .label {
    -fx-text-fill: #2A4879;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.dialog-pane .button {
    -fx-background-radius: 20;
    -fx-background-color:  rgba(42, 72, 121, 1);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.dialog-pane .button:hover {
    -fx-background-color: #ff294b;
}
