.table-view .corner {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgb(222, 177, 177), rgba(109, 90, 219, 0.26));
    -fx-background-radius: 10 10 10 10;

}

.table-view .column-header {
    -fx-background-color: transparent;
}
